.nav-Q-S{
    text-align: center;
    justify-content: space-around;
}

html,head,body{
    width: 100%;
    overflow-x: hidden;
}
p{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}
@media (max-width: 768px) {
    body {
      font-size: 14px;
    }
    .container {
      flex-direction: column; /* Empilha os elementos */
    }
  }
  
  /* Para telas médias (tablets) */
  @media (min-width: 769px) and (max-width: 1164px) {
    body {
      font-size: 16px;
    }
  }
  
  /* Para telas grandes (notebooks ou desktops) */
  @media (min-width: 1025px) {
    body {
      font-size: 18px;
    }
  }